@using Job.Web.Helper;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/jqueryui")
    <script>
       var pageUrl="@Request.Url.Authority"
    </script>

</head>
<body>
    <div id="body">

        <div id="fixinfo" style="position: fixed; right: 0; background: #fff; display: none"></div>
        <div id="main">
            @Html.Partial("_Header")
            @if(ViewBag.isHome!=null)
            { 
            @Html.Action("BannerSlider", "Common")
            }
            <div id="content">
                <div class="container">
                    <div class="row row-content">
                    @RenderBody()
                        </div>
                </div>

            </div>
            @Html.Partial("_Footer")
            </div>
        </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")
   

    @RenderSection("scripts", required: false)
    @Scripts.Render("~/Scripts/public.common.js")
    @Html.PageScripts()
</body>
</html>
