@model PagedList.IPagedList<Job.Core.Domain.Recuitment>
@{
    ViewBag.Title = "Danh sách ứng viên";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="well">
    <ol class="breadcrumb">
        <li><a href="/admin">Home</a></li>
        <li><a href="#">Danh sách ứng viên</a></li>

    </ol>
</div>
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Danh sách ứng viên</div>
    <div class="panel-body">
       
    </div>

    <!-- Table -->
    <table class="table table-bordered table-striped">
        <tr>
            <th>Mã số</th>
            <th>Tên</th>
            <td>Email</td>
            <td>Số điện thoại</td>
            <td>Vị trí</td>
            <td>Khu vực</td>
        </tr>
        @foreach (var i in Model)
        {
            <tr>
               <td>@i.Id</td>
                <td>@i.FullName</td>
                <td>@i.Email</td>
                <td>@i.PhoneNumber</td>
                <td>@i.Cate.Name</td>
                <td>@i.DistrictModel.Name / @i.DistrictModel.StateProvice.Name</td>
                <td>
                    <a href="@Url.Action("Detail", new { id = i.Id })"><span class="glyphicon glyphicon-align-left glyphicon-edit">Chi tiết</span></a> 
                    
                </td>
            </tr>
        }
    </table>
    @Html.PagedListPager(Model, p => string.Format("pageIndex={0}", p))
</div>

